body{
    margin: 0;
    padding: 0;
    background: linear-gradient(
    135deg,
    #10214e,
    #355699,
    #00eaff
  );
  background-size: 300% 300%;
  animation: aquaBlend 5s ease infinite;
}

@keyframes aquaBlend {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.h1{
    font-size: 5vw;
    -webkit-text-stroke: #ffffff;
    -webkit-text-stroke-width: 1px;
    color: transparent;
    font-family: 'poppins';
    background-color: transparent;
    display: flex;
    justify-content: center;
}

ul{
    box-shadow: 0px 0px 41px 7px rgba(0,0,0,0.66);
    margin: 0;
    color: white;
    margin-top: 40px;
    padding: 0;
    background-color: rgb(139, 139, 139);
    font-family: poppins;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    min-width: 40vw;
    font-family: 'poppins';
    border: 1.5px solid grey;
    
}
li{
    display: flex;
    padding: 5px 0px;
    justify-content: space-between;
    list-style: none;
    cursor: pointer;
    font-size: 10px;
    font-family: 'poppins';
    flex-wrap: wrap;
    word-break: break-all;
       
}

li button{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 25px;
    transition: 0.5s ease;
    margin: 0px 0px 0px 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
}
li button:hover{
    transform: scale(1.1)
}

#teste{
    display: flex;
    flex-direction: column;
    max-width: 70vw;
    
}
#button{
    display: flex;
    justify-content: center;
}
.button {
  width: 20vw;
  min-width: 150px; 
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 30px;
  margin-top: 15px;
  cursor: pointer;
  display: inline-block;
  font-family: 'Poppins';
  font-size: 15px; 
  position: relative;
  overflow: hidden;
  transition: all 0.4s ease;
  z-index: 1;
}


.button-1 {
  background-color: transparent;
  border: 3px solid #2d6ba7;
  border-radius: 50px;
  color: #2d6ba7;
}


.button-1::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%; 
  width: 100%;
  height: 100%;
  background: #2d6ba7;
  transition: all 0.5s;
  
}

.button-1:hover {
  color: #ffffff;
  background-color: #2d6ba7;
  transform: translateY(-3px); 
}
.button-1:hover::before {
  left: 100%; 
}
.button-1:active {
  transform: translateY(1px);
  box-shadow: 0 0 10px #2d6ba7;
}
@media (max-width:1000px){
    .button-1:active{
        transform: none;
        box-shadow: none;
    }
    .button-1:hover {
        transform: none;
        background-color: transparent;
        border: 3px solid #2d6ba7;
        border-radius: 50px;
        color: #2d6ba7;
}
    .button-1:hover::before {
        left: 0%; 
         background: transparent;
}
    .button-1::before {
        transition: none;
        left: 100%;
  
}
}
#list{
    background-color: rgb(226, 226, 226);
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    margin: 10px 50px;
    margin-bottom: 50px;
    border-radius: 25px;
    box-shadow: inset 1px 1px 15px 1px rgb(0, 0, 0);
}
input{
    font-family: 'poppins';
    border-radius: 0px 0px 5px 5px;
    border: 1px solid grey;
    
}
ul p{
    font-size: 10px;
}
